run = "python -m uvicorn web:app --host 0.0.0.0 --port 8000"

modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python -m uvicorn web:app --host 0.0.0.0 --port 80"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 80
externalPort = 80
